from setuptools import setup, find_namespace_packages


setup(
    name="datasets.{{data.dataset_name}}",
    version="0.0.1",
    packages=find_namespace_packages(include=['datasets.*']),
    python_requires='>=3.6'
)